<h1>{{ title }}</h1>

<section class="bloque__noticias">
    
    <div *ngFor="let news of noticias" class="noticia">
        {{ news.date }} - {{ news.source }}
        <img [src]="news.img" alt="">
        <h3><a (click)="showPopup(news)">{{ news.title }}</a></h3>
        <p>{{ news.content | slice:0:125 }}</p>
    </div>  

    <div *ngFor="let news of noticias" class="noticia">
        {{ news.date }} - {{ news.source }}
        <img [src]="news.img" alt="">   
        <h3><a (click)="showPopup(news)">{{ news.title }}</a></h3>
        <p>{{ news.content | slice:0:125}}</p>
    </div>  

    <div *ngFor="let news of noticias" class="noticia">
        {{ news.date }} - {{ news.source }}
        <img [src]="news.img" alt="">
        <h3><a (click)="showPopup(news)">{{ news.title }}</a></h3>
        <p>{{ news.content | slice:0:125}}</p>
    </div> 
</section>

<div class="sombra" *ngIf="Popup != null"></div>

<section class="noticia_Emergente" *ngIf="Popup != null">
    <div class="superior">
        <button type="button" (click)="exit()"><img src="../../assets/images/x.png" alt=""></button>
        <p class="source"> {{Popup.date}} {{Popup.source}} </p>
    </div>
    <div class="centro"><img [src]="Popup.img" alt="" class="imagen"><h2>{{ Popup.title }}</h2></div>
    <p class="parrafo">{{Popup.content}}</p>
</section>



