<section class="main">
  <input class="input" type="text" placeholder="Buscar intereses" />
</section>
<section class="intereses">
    <div >
        <p *ngFor="let intere of intereses">{{intere}}</p>
    </div>
    
    <h3>Perfil: productor</h3>
    <table border="1">
        <thead>
            <tr>
                <th>
    
                </th>
                <th>
                    nombre
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let intere of intereses">
                <td><input type="checkbox" id="check1"></td>
                <td><p >{{intere}}</p></td>
            </tr>
            
        </tbody>
    </table>
</section>  
