<form class="form" (submit)="uploadPhoto(name, description, id)">
    <h2 class="form__title">Crear Comunidad</h2>
    <input type="hidden" name="id" #id />
    <div class="form__container">
        <div class="form-container">
            <div class="form-container__name">
                <label for="name">Nombre</label>
                <input type="text" name="name" #name />
            </div>
            <div class="form-container__activity">
                <label for="activity">Seleccionar actividad</label>
                <select name="activity" (change)="selectActivity($event)">
                    <option value="1" selected>Agricola</option>
                    <option value="2">Bovino</option>
                    <option value="3">Porcino</option>
                    <option value="4">Acuicola</option>
                    <option value="5">Avicola - Pesca</option>
                </select>
            </div>
            <div class="form-container__image">
                <input
                    class="form-container__image-photo form__container--picture"
                    type="file"
                    name="picture"
                    id="picture"
                    (change)="onPhotoSelected($event)"
                    #photoInput
                />
                <img
                    class="form-container__image-photo"
                    [src]="photoSelected || 'assets/iconos/no_photo.png'"
                    alt="No images"
                    (click)="photoInput.click()"
                />
            </div>
        </div>

        <div class="form__container--description">
            <label for="description">Descripcion</label>
            <textarea
                name="description"
                cols="30"
                rows="10"
                #description
            ></textarea>
        </div>
        <div class="form__btn">
            <!-- <button class="btn" (click)="resetForm(name, description)">
              Limpiar
            </button> -->
            <button class="btn" (click)="guardar()">Guardar</button>
        </div>
    </div>
</form>
