<h1>Perfil: proveedor</h1>
<input   name="filterPost" type="search" class="search" [(ngModel)]="filterPost">

<table >
    <thead>
        <tr>
            <th>
                action
            </th>
            <th>
                nombre
            </th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let tema of temaInteres | filter:filterPost " >
            
            <td>
                <input  #numero type="checkbox" [checked]="tema.tipo" (click)="seleccion(tema.nombre,tema.id)"> 
            </td>
            <td>
                {{tema.nombre}}
            </td>
        
        </tr>
        
    </tbody>
</table>



<table *ngIf="mostrar" border="border" >
    <thead>
        <tr>
            <td>action</td>
            <td>nombre</td>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let frutas of frutas_seleccionadas;index as i"> -->
            <tr *ngFor="let frutas of frutas_seleccionadas;index as i"> 
            <td>
                <input type="checkbox" checked />
            </td>
            <td>
                {{frutas.tema}}
            </td>
            <td>
                <img (click)="eliminar(frutas.tema,i)" src="https://img.icons8.com/ios/50/000000/trash--v1.png"/>
            </td>   
            

        </tr>

    </tbody>





<div>
    <div>
        bloque uno
    </div>
    
    <div>
        bloque dos 
    </div>
</div>






</table>
