<h1>Perfil: proveedor</h1>
<input  type="search" class="search">

<table >
    <thead>
        <tr>
            <th>
                action
            </th>
            <th>
                nombre
            </th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let tema of temaInteres;index as i" >
            
            <td>
                <input  #numero  type="checkbox" [checked]="tema.tipo" (click)="seleccion(tema.nombre,i)"> 
            </td>
            <td>
                {{tema.nombre}}{{i}}
            </td>
        
        </tr>
        
    </tbody>
</table>



<table *ngIf="mostrar" border="border" >
    <thead>
        <tr>
            <td>action</td>
            <td>nombre</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let frutas of frutas_seleccionadas;index as i">
            <td>
                <input type="checkbox" checked />
            </td>
            <td>
                {{frutas.tema}}
            </td>
            <td>
                <img (click)="eliminar(frutas.tema,i)" src="https://img.icons8.com/ios/50/000000/trash--v1.png"/>
            </td>   
            

        </tr>
    </tbody>
</table>
