h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.foro {
    background-color: white;
    margin-top: 30px;
    background-color: #fff;
    color: #00593f;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.form {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
}
.form__container--input {
    height: 65px;
    width: 50%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #9c4dad;
    outline: none;
}
.form__container {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.form__container-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rebeccapurple;
    color: white;
}

::placeholder {
    font-size: 20px;
    margin-left: 20px;
}

.posts {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #00593f;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.posts__container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;
}
.posts__container--image {
    border-radius: 100px;
    background-color: #e3e0e4;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.posts__image {
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
}

.posts__container-info {
    width: 100%;
    padding: 20px;
    margin-left: 35px;
}
.posts__user--title {
    text-decoration: none;
    color: #019a78;
    cursor: pointer;
}

.posts__container--content {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.foro {
    background-color: white;
    margin-top: 30px;
    background-color: #fff;
    color: #00593f;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.form {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
}
.form__container--input {
    height: 65px;
    width: 50%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #9c4dad;
    outline: none;
}
.form__container {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.form__container-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
}

::placeholder {
    font-size: 20px;
    margin-left: 20px;
}

.posts {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #00593f;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.posts__container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;
}
.posts__container--image {
    border-radius: 100px;
    background-color: #e3e0e4;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.posts__image {
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
}

.posts__container-info {
    width: 100%;
    padding: 20px;
    margin-left: 35px;
}
.posts__user--title {
    text-decoration: none;
    color: #019a78;
    cursor: pointer;
}

.posts__container--content {
    font-size: 20px;
}

.posts__container-interactions {
    width: 100%;
    border-top: 1px solid #e3e0e4;
    border-bottom: 1px solid #e3e0e4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.posts__interactions-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
}
.posts__interactions-container img {
    margin-right: 10px;
}
.posts__interactions-container p {
    color: #019a78;
}
.posts__container--comments {
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}
.posts__container--commentUser {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.image__container-comments {
    width: 40px;
    height: 40px;
}
.image-comments-profile {
    width: 30px;
    height: 30px;
}
.image-comments {
    width: 15px;
    height: 30px;
}

.posts__container--createComments {
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}
.form__createComments {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.form__createComments--text {
    background-color: #f0f2f5;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: text;
    width: 107%;
    outline: none;
    padding-left: 20px;
}
.form__container--text {
    width: 100%;
}

.form__createComments ::placeholder {
    font-size: 16px;
    padding-left: 10px;
}
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
button > img {
    width: 20px;
}
