h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.foro {
    background-color: white;
    margin-top: 30px;
    background-color: #fff;
    color: #00593f;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.form {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
}
.form__container--input {
    height: 65px;
    width: 50%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #9c4dad;
    outline: none;
}
.form__container {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.form__container-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rebeccapurple;
    color: white;
}

::placeholder {
    font-size: 20px;
    margin-left: 20px;
}

.posts {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #00593f;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.posts__container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;
}
.posts__container--image {
    border-radius: 100px;
    background-color: #e3e0e4;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.posts__image {
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
}

.posts__container-info {
    width: 100%;
    padding: 20px;
    margin-left: 35px;
}
.posts__user--title {
    text-decoration: none;
    color: #019a78;
    cursor: pointer;
}

.posts__container--content {
    font-size: 20px;
}
