<div class="posts">
    <div class="posts__container">
        <div class="posts__container--image">
            <img
                class="posts__image"
                *ngIf="post.owner"
                [src]="profile.picture"
                alt="AgrodatAI"
            />
            <img
                class="posts__image"
                *ngIf="!post.owner"
                src="assets/images/borde-logo.png"
                alt="AgrodatAI"
            />
        </div>
        <div class="posts__container--user">
            <h2 *ngIf="post.owner">
                <a class="posts__user--title">{{ post.owner }}</a>
            </h2>
            <h2 *ngIf="!post.owner">
                <a class="posts__user--title">Invitado</a>
            </h2>
            <p class="posts__user--time">
                {{ post.timestamp | amTimeAgo }}
            </p>
        </div>
    </div>
    <div class="posts__container-info">
        <p class="posts__container--content">{{ post.content }}</p>
    </div>
    <!-- <div>
        <button (click)="editPost(post)">Editar</button>
    </div> -->
</div>
