<div class="header__logo">
    <img src="../assets/images/borde.png" alt="Logo" />
</div>
<div class="header__profile">
    <button type="button" class="Boton--noticias" (click)="bannerShow()">
        <img id="boton--img" [src]="img" alt="Noticias" />
    </button>
    <button type="button" (click)="notification()">
        <img src="../assets/images/icons8-despertador-24.png" alt="Campana" />
    </button>
    <p>{{ this.profile.user }}</p>
    <div class="profile--icon">
        <img src="../assets/images/profile-header.png" alt="" />
    </div>
</div>
