<h1>Perfil: entidad publica</h1>
<table border="1">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                nombre
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" id="check1"></td>
            <td><p>Acuocola</p></td>
        </tr>
        <tr>
            <td><input type="checkbox" id="check1"></td>
            <td><p>Bovino</p></td>
        </tr>
        <tr>
            <td><input type="checkbox" id="check1"></td>
            <td><p>Agrícola</p></td>
        </tr>
        <tr>
            <td><input type="checkbox" id="check1"></td>
            <td><p>Porcino</p></td>
        </tr>
    </tbody>
</table>
