<!------------- Perfil----------->

<div class="perfil_completo">
  <h3>Mi perfil</h3>
  <div class="photo_perfil">
    <img src="../../assets/images/account.png" alt="perfil" />
  </div>
  <div class="conjunto">
    <button class="boton1">Mis datos</button>
    <button class="boton2">Cambio de contraseña</button>
  </div>
    <h6 class="rotulo">Nombres:</h6>
    <input class="name" type="text" />
    <h6 class="rotulo">Apellidos:</h6>
    <input class="name" type="text" />
    <h6 class="rotulo">Correo electronico:</h6>
    <input class="name" type="email" />
    <h6 class="rotulo">Numero de telefono movil:</h6>
    <input class="name" type="text" />
</div>
