.contenedor{
    margin: 10px auto;
    background-color: white;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}
.contenedor .contenedor-items{
    margin-top: 5%;
    width: 100%; 
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.contenedor .contenedor-items .contenedor-items__item{
    position: relative;
    margin:5% 0 5% 5% ;
    padding:1%;
    width: 25%;
    background-color: #e7e6f7;
    border-radius: 10px;
    padding-bottom: 1%;
    

}
.contenedor .contenedor-items .contenedor-items__item h3 {
    text-align: center;
    margin-bottom: 2%;
    color: #009a74;

}
.contenedor .contenedor-items .contenedor-items__item p{
    box-sizing: border-box;
    color: rebeccapurple;
    text-align: justify;
    margin-bottom: 25%;
    position: relative;
}
.contenedor .contenedor-items .contenedor-items__item button {
    width: 60%;
    height: 20%;
    border-radius: 10px;
    background-color: rebeccapurple;
    color: white;
    position: absolute;
    bottom: 6%;
    left: 18%;   
    outline: none;
}
.contenedor .contenedor-items .contenedor-items__item img{
    width: 15%;
    height: 47%;
    margin-right: 6%;
    
}

@media only screen and (max-width: 680px) {
    .contenedor .contenedor-items .contenedor-items__item{
        position: relative;
        margin-bottom:6%;
        margin-right: 6%;
        padding:1%;
        width: 100%;
        background-color: #e7e6f7;
        border-radius: 10px;
        padding-bottom: 1%;
    }   
    .contenedor .contenedor-items .contenedor-items__item button {
        width: 60%;
        height: 20%;
        border-radius: 10px;
        background-color: rebeccapurple;
        color: white;
        position: absolute;
        bottom: 6%;
        left: 18%;   
        
    }
}