:host {
    margin-left: 40px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}
h1 {
    color: #007262;
}
.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.noticia div {
    margin-right: auto;
    margin-bottom: 20px;
}
.noticia img {
    width: 30%;
    height: 40vh
}
.noticia h2 {
    width: 60%;
    margin-right: auto;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: 0px;
}
.noticia p {
    margin-right: auto;
    width: 90%;
    text-align: justify;

}
.centro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}