
    

<div class="container">
    <div class="modulesComunidad">
        <div (click)="foro=!foro;crear=false;comunidades=false" class="module">
          <img class="comunidad__image" src="assets/iconos/crear-comunidad.svg" alt="crear-comunidad" />
          <h3 class="module__title">Foro</h3>
          <p class="module__text">Discusiones de interes</p>
        </div>
        <div (click)="crear=!crear;comunidades=false;foro=false" class="module" > 
           <img class="comunidad__image" src="assets/iconos/crear-comunidad.svg" alt="crear-comunidad" />
           <h3 class="module__title">Crear Comunidad</h3>
            <p class="module__text">Nueva comunidad</p>
        </div>
  
        <div (click)="comunidades=!comunidades;crear=false;foro=false;" class="module" >
          <img class="comunidad__image" src="assets/iconos/crear-comunidad.svg" alt="crear-comunidad" />
            <h3 class="module__title">Mis comunidades</h3>
            <span class="module__text">Administrar actididades agropecuarias</span>
        </div>
    </div>
    <div *ngIf="comunidades">
        <app-module-creadas></app-module-creadas> 
    </div>
    <div *ngIf="foro">
       destacado
    </div>
    <div *ngIf="!crear">
        
        <div *ngIf="formulario">
            <form action="/api/new_communities/" method="POST" #communityForm="ngForm" enctype="multipart/form-data" class="form"
        >
            <h2 class="form__title">Crear drfdfsdfsdfsdfdsf</h2>
            <input type="hidden" name="id" />
            <div class="form__container">
                <label for="name">Nombre</label>
                <input type="text" name="name"
                    
                />
            </div>
            <div class="form__container form__select">
                <label for="activities">Seleccionar Actividad</label>
                <select name="activities" multiple >
                    <option value="1">Agricola</option>
                    <option value="2">Bovino</option>
                    <option value="3">Porcino</option>
                    <option value="4">Avicola</option>
                    <option value="5">Acuicola - Pesca</option>
                </select>
            </div>
        
            <div class="form__container">
                <label for="description">Descripcion</label>
                <textarea name="description" cols="30" rows="10" ></textarea>
            </div>
            <div class="form__btn">
                <button class="btn" >Limpiar</button>
                <button class="btn">Guardar</button>
            </div>
        </form>
        </div>
    </div>


