
.fondo{
    background: #e7e6f7;
    height: 100%;
    width: 100%;
}
.fondo .fondo-nav{
    display: flex;   
    flex-wrap: nowrap;
    margin-left: 5%;
}
.fondo .fondo-nav .fondo-nav__item
{
    background: white;
    margin-left: 10%;
    border-radius:5px;
    padding: 25px;
    box-shadow: 1px 1px 1px #888888;
    margin-top: 15px;
    border: none;


}
.fondo .fondo-nav .fondo-nav__item:focus {
    outline: none;
}
.fondo .fondo-nav .fondo-nav__crear img{
    margin-left: 10%;
}
.div{
    width: 100%;
    background-color:white;
}
h1,p{
    color: #009a74;
    
}
:host {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    background-color: #efefef;
    padding: 40px;
  }
  
  .modulesComunidad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    :first-child {
        margin-left: 0;
    }
    :last-child {
        margin-right: 0;
    }
  }
  
  .module {
    background-color: #fff;
    color: #00593f;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 0 10px;
    transition: ease-in 0.2s;
    cursor: pointer !important;
    &:hover {
        opacity: .8;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }
  }
  
  
  .comunidad__image  {
      width: 42px;
      fill: black;
      vertical-align: bottom;
  }
  
  .module__icon {
    font-weight: bold;
    font-size: 48px;
  }
  
  .module__title {
    letter-spacing: 0.05em;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .module__text {
    font-size: 0.9em;
    margin-top: 7px;
    padding: 0;
    font-weight: 500;
    display: block;
  }
  
  .module.active {
    color: #fff;
    background-color: #0e493a;
  }
  
  .crear__nueva--comu {
    background-color: #fff;
    color: #00593f;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  
  .crear__nueva--comu img {
    width: 25px;
  }
  
  
  .btn__new {
    border: 1px solid #fff;
    background-color: #fff;
    color: #4f317a ;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  
  //formulario
  h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.form {
    width: 40%;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}
.form__title {
    color: #019a78;
    font-size: 30px;
}

.form__container {
    display: flex;
    flex-direction: column;
}

.form__container > label {
    color: #502975;
    font-size: 20px;
    margin: 12px 0px 7px 10px;
}

.form__container > input {
    border-radius: 20px;
    outline: none;
    height: 28px;
    color: rgb(79, 49, 112);
    border: 2px solid #502975;
}
.form__container > textarea {
    border-radius: 20px;
    outline: none;
    margin: 10px 0px;
    color: rgb(79, 49, 112);
    border: 2px solid #502975;
}
.form__container--picture {
    display: none;
}

.form__btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    border-radius: 20px;
    outline: none;
    height: 35px;
    width: 90px;
    color: white;
    background-color: rgb(79, 49, 112);
    border: 2px solid #502975;
    cursor: pointer;
}
.btn-edit {
    background-color: #019a78;
    margin-right: 20px;
    cursor: pointer;
}

.community {
    margin: 20px;
}

.community__data-post {
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    height: 100px;
}
.community__data-post--image {
    width: 100px;
    height: 100px;
    margin-left: 20px;
} 
.community__data {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.community__data-post--info > h1 {
    color: rgb(79, 49, 112);
}
.community__data-post--info > h3 {
    color: #019a78;
}
