<div class="interests__container">

  <app-perfil></app-perfil>

  <div>
    <div class="search">
      <input type="text" class="search__input" placeholder="Buscar intereses" />
  </div>



  <!-- -------------------Mis Intereses----------- -->
  <!-- <div class="Principal_Intereses">

    <div class="interests">
      <table border="1" class="interests__table">
        <thead class="interests__table--head">
          <tr>
            <h2 class="title">Intereses</h2>
          </tr>
        </thead>
        <tbody class="interests__table--body">
          <tr class="interests__body--container">
            <td class="interests__body--checkbox">
              <input type="checkbox" id="check1" />
            </td>
            <td class="interests__body--name">
              <p>Agricola</p>
            </td>
            <td class="interests__body--checkbox">
              <input type="checkbox" id="check1" />
            </td>
            <td class="interests__body--name">
              <p>Ganadero</p>
            </td>
            <td class="interests__body--checkbox">
              <input type="checkbox" id="check1" />
            </td>
            <td class="interests__body--name">
              <p>Porcino</p>
            </td>
            <td class="interests__body--checkbox">
              <input type="checkbox" id="check1" />
            </td>
            <td class="interests__body--name">
              <p>Avicola</p>
            </td>
            <td class="interests__body--checkbox">
            </td>
          </tr>

          <tr class="interests__body--container" *ngFor="let interest of interestsService.interests">
            <td class="interests__body--checkbox">
              <input type="checkbox" id="check1" />
            </td>

            <td class="interests__body--name">
              <p>{{ interest.name }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->

    <!-- -------------------Intereses----------- -->
    <div *ngFor="let interest of interestsService.interests">
      <app-interest (interestClicked)="clickInterest($event)" [interest]="interest"></app-interest>
    </div>
</div>
