<app-community-navbar></app-community-navbar>
<div *ngFor="let post of posts">
    <img [src]="post.picture" alt="" />
    <div>
        <h2 *ngIf="users">
            <!-- {{ getAllProfiles(post.id) }} -->
            <!-- <a href="#">{{ users.username }}</a> -->
            <a href="#">{{ users.username }}</a>
        </h2>
        <i></i>
        <p>{{ post.timestamp }}</p>
        <div>{{ post.content }}</div>
    </div>
</div>

<!-- <div class="community">
    <div
        class="community__data-post"
        *ngFor="let community of communityService.communities"
    >
        <img
            class="community__data-post--image"
            src="../../assets/iconos/avatar.png"
            alt="Logo"
        />
        <div class="community__data">
            <div class="community__data-post--info">
                <h1>{{ community.name }}</h1>
                <h2 *ngIf="community.activities == 1">Agricola</h2>
                <h2 *ngIf="community.activities == 2">Bovino</h2>
                <h2 *ngIf="community.activities == 3">Porcino</h2>
                <h2 *ngIf="community.activities == 4">Avicola</h2>
                <h2 *ngIf="community.activities == 5">Acuicola - Pesca</h2>
                <h3>{{ community.created }}</h3>
            </div>
            <div>
                <button class="btn btn-edit" (click)="editCommunity(community)">
                    Editar
                </button>
                <button class="btn" (click)="deleteCommunity(community.id)">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div> -->
