:host {
    height: 100vh;
    display: grid;
    grid-template: 10% 1fr / auto 1fr auto;
};
.header {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-top: 1.5px solid grey;
    border-bottom: 1.5px solid grey;
    box-shadow: 0px 0px 10px black;
};
.header__logo img{
    margin-left: 40px;
    width: 30%;
};
.header__profile {
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
};
.Boton--noticias {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
};
.Boton--noticias img {
    width: 34px;
    margin-top: -3px;
};
.header__profile button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
};
.header__profile p {
    color: #4f317a;
    font-weight: bolder;
}
.profile--icon img {
    width: 44px;
};
.menu {
    width: 55px;
    height: auto;
    background-color: #4f317a;
    grid-column-start: 1;
    grid-row-start: 2;
    transition: 0.5s;
};
.menu__profile{
    display: none;
};
.profile--senting {
    display: none;
    visibility: hidden;
};
.profile--senting h3 {
    color: white;
    margin-bottom: 0px;
};
.profile--senting button {
    height: 18px;
    background-color: white;
    border: 1px solid black;
};
.profile--senting select {
    height: 18px;
};
.profile img {
    display: none;
    visibility: hidden;
};
.menu:hover {
    width: 220px;
};
.menu:hover .menu__profile, .menu__profile:hover{
    width: 80%;
    height: 65px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
};
.menu:hover .profile--senting, .profile--senting:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    visibility: visible;
    margin-bottom: 40px;
};
.menu:hover .profile img, .profile img:hover {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    width: 60px;
    visibility: visible;
};
.menu ul {
    padding: 0px;
};
.menu li {
    background-color: #7F42A0;
    list-style: none;
    display: flex;
    margin: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 12px;
    height: 28px;
    border-radius: 3px;
    cursor: pointer;
};
.menu li:hover {
    background-color: #9C4DAD;
}
.menu li img {
    width: 20px;
};
.Keys-word {
    text-decoration: none;
    visibility: hidden;
    padding-left: 20px;
    margin-top: 3px;
    font-size: 15px;
    color: white;
    
};
.menu:hover .Keys-word, .Keys-word:hover {
    transition: 1s;
    visibility: visible;
};
.Banner__noticias {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 240px;
    height: auto;
    padding: 0px 10px;
    padding-right: 0px;
    border-left: 1px solid grey;
    background-color: white;
}
.Banner__noticias button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.Banner__noticias h2 {
    color: #007262;
    margin-top: 0px;
    margin-bottom: 0px;
}
.Banner__noticias button p {
    font-size: 12px;
    font-weight: bold;
}
.Banner__noticias button p:hover {
    color: #009A74;
}
.Superior {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin-top: 5px;
}
.Superior button {
    margin-right: 8px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.contenedor__noticias {
    height: 77vh;
    overflow: hidden;
}
.noticia {
    padding: 5px;
    margin-right: 8px;
    border-bottom: 1px solid grey;
}
.noticia p {
    font-size: 12px;
}
.noticia h5 {
    margin-top: -8px;
    margin-bottom: -8px;
}
.noticia a {
    text-decoration: none;
    color: black;
}
.noticia a:hover {
    color: #009A74
};
.active {
    height: 77vh;
    overflow: auto;
};
@media only screen and (max-width: 680px){
    .header__logo img{   
        width: 35%;
        margin-top: 6px;
    }
    .header__profile {
        display: none;
    }
    .menu:hover {
        width: 170px;
    }
    .Keys-word {
        padding-left: 13px;
        margin-top: 6px;
        font-size: 12px;
    }
    .menu:hover .profile img, .profile img:hover {
        margin-top: 20px;
        width: 90px;
    }
    .profile--senting select {
        width: 20px;
    }  
}