<input type="checkbox" (click)="select()" />
<h1>{{ interest.name }}</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Actividad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <input type="checkbox" />
            <td>nombre</td>
            <td>nombre</td>
        </tr>
    </tbody>
</table>

<!-- <td>
    <input
        #numero
        type="checkbox"
        class="checksyle"
        [checked]="interest.completed"
        (click)="select()"
    />
</td>
<td>
    {{ interest.name }}
</td> -->
