<div class="container">
    <div class="modules">
        <div class="module" [routerLink]="['/admin/empresas/list']" [class.active]="isActive('empresas')">
            <mat-icon class="module__icon" aria-hidden="false" aria-label="Example home icon">apartment</mat-icon>
            <h3 class="module__title">Empresas</h3>
            <p class="module__text">Administrar empresas</p>
        </div>

        <div class="module" [routerLink]="['/admin/actividades-agropecuarias/list']" [class.active]="isActive('actividades-agropecuarias')">
            <mat-icon class="module__icon" aria-hidden="false" aria-label="Example home icon">eco</mat-icon>
            <h3 class="module__title">Actididades agropecuarias</h3>
            <span class="module__text">Administrar actididades agropecuarias</span>
        </div>
    </div>

    <div class="render__module--container">
        <router-outlet></router-outlet>
    </div>
</div>