<div *ngIf="!community; else main_content">
    <h1>Loading...</h1>
</div>

<ng-template #main_content>
    <div class="community">
        <div class="community__data-post">
            <img
                class="community__data-post--image"
                src="../../assets/iconos/avatar.png"
                alt="Logo"
            />
            <div class="community__data">
                <div class="community__data-post--info">
                    <h1>{{ community.name }}</h1>
                    <h2 *ngIf="community.activities == 1">Agricola</h2>
                    <h2 *ngIf="community.activities == 2">Bovino</h2>
                    <h2 *ngIf="community.activities == 3">Porcino</h2>
                    <h2 *ngIf="community.activities == 4">Avicola</h2>
                    <h2 *ngIf="community.activities == 5">Acuicola - Pesca</h2>
                    <h3>{{ community.created | date: "HH:mm" }}</h3>
                </div>
                <div>
                    <button
                        class="btn btn-edit"
                        (click)="editCommunity(community)"
                    >
                        Editar
                    </button>
                    <button class="btn" (click)="deleteCommunity(community.id)">
                        Eliminar
                    </button>
                </div>
            </div>
            <p>{{ community.description }}</p>
        </div>
    </div>
</ng-template>
