.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
      color: #00936a;
    }
  }
  
  table {
    width: 100%;
  }

  .btn {
    border-radius: 20px;
    padding: 10px 15px;
    border: none; 
    background-color: #fff;

    &:hover {
        cursor: pointer;
    }
}

.section__header--options {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__new {
  border: 1px solid #4f317a;
  background-color: #4f317a;
  color: #fff;
}

.btn__save {
    border: 1px solid #00936a;
    color: #00936a;
    min-width: 150px;
    display: flex;
    align-items: center;
}